# -----------------------------
# Python-related
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.sqlite3

# Django-related
*.log
db.sqlite3
staticfiles/
media/

# Django Migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Environment and secrets
.env
*.env
secrets.json

# IDE-related
.vscode/
.idea/

# OS-related
.DS_Store
Thumbs.db

# -----------------------------
# React / Node.js-related
node_modules/
build/
dist/
.cache/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.scssc
backend.zip
